
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap');
*{
margin: 0;
padding: 0;
box-sizing: border-box;

}
:root{
--primary-text-color:#183b56;
--secondary-text-color:#577592;
--accent-color:#2294ed;
--accent-color-dark:#1d69a3;
--padding-inline-section:20px;

}
body{
    font-family: 'Poppins', sans-serif;
color: var(--primary-text-color);

}
h1{
font-size: 3rem;
}
h2{
    font-size: 2rem;
    }
 h3{
 font-size: 1.5rem;
 }
 p{
    font-family: 'Roboto', sans-serif;
font-size: 1.25rem;
color: var(--secondary-text-color);
 }
a{
text-decoration: none;
display: inline-block;

}
/*utilities*/

.small-bold-text{

font-size: 1rem;
font-weight:700 ;

}
.divs{
max-width: 1180px;
margin-inline: auto ;
padding-inline: var(--padding-inline-section);
}
.flex{
display: flex;
align-items: center;
justify-content: space-around;
}
.hover-link{

  color: var(--primary-text-color);
  transition: 0.3s ease-in-out;
}
.hover-link:hover{
color: var(--accent-color-dark);
font-size: 1.1rem;
transition: 0.2s ease-in;


}
.primary-btn{
background-color: var(--accent-color);
border-radius: 6px;
font-weight: 500;
color: white !important;
padding: 12px 24px;
box-shadow: 0 0 2px var(--secondary-text-color);
transition: 0.2s ease-in-out;

}
.primary-btn:hover{
background-color: var(--accent-color-dark);

}
.secondary-btn{
border: 0.5px solid var(--secondary-text-color);
border-radius: 6px;
font-weight: 500px;
color: var(--primary-text-color);
padding: 12px 24px;
transition: 0.2s ease-in-out;
}
.secondary-btn:hover{
border-color: var(--accent-color);
color: var(--accent-color);

}

.topbanner{
  background-image: url(asset\ 32.png);
background-color: #4dadf7;
background-size:300px ;


}
.banner-text{
color: white;
padding: 15px 30px;
text-align: center;

}
.main-nav{
  margin-top: 20px;
display: flex;
justify-content: space-between;

}
ul{
  list-style: none;
  
  }
.companylogo img{
width: 200px;

}
.navlinks{
flex-basis:730px ;


}
.navlinks ul{

justify-content: end;
gap: 30px;

}
/*header section*/
header{
padding: 50 var(--padding-inline-section);

}
.header-section{
justify-content: center;
gap: 50px;


}
.header-right img{
width: 600px;
margin-top: 20px;

}
.header-left{
max-width: 40vw;

}
.header-left h1{
margin-top: 20px ;

}
.get-startedbtn{
margin-top: 20px;

}

/*header*/

.companies-header{
text-align: center;
margin-block:30px ;
color: var(--primary-text-color);

}
.logos{
margin-bottom: 40px;
justify-content: space-between;
flex-wrap: wrap;
}
.logo{
height: 46px;

}
.features{
  background-image: url(asset\ 34.svg);
  background-repeat: no-repeat;
  padding: 80px var(--padding-inline-section) 0;
background-position: center;

}
.featuresheader{
text-align: center;

}
.features-heading{
  margin-bottom: 20px;


}
.featuresarea{
flex-wrap: wrap;
justify-content: space-between;
gap: 40px;
margin-top: 20px;
}
.featurescard{
flex-direction: column;
gap: 20px;
max-width: 30%;
text-align: center;

}
.featuresarea p{
margin-bottom: 20px;
}
.featuresarea h3{
margin-top: 20px;

}


.bigfeatures{
padding: 30px var(--padding-inline-section) 0;

}
.bigfeaturediv{
gap: 30px;

}
.featureimg img{
width: 100%;

}
.featuredescription{
flex-direction: column;
align-items: flex-start;

}
.examplesheader{
  flex-direction: column;
  gap: 20px;
  }
  .examples-card{
width: 23%;
position: relative;
background: black;
min-height: 300px;
    background: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.8)), url(asset\ 36.jpeg);
  
  margin-top: 20px;
  margin-bottom: 20px;
transition: 0.3s ease-out;
}
  .examples-card:hover{
    box-shadow: 0 0 10px #252323;
  }

  .cardtext{
position: absolute;
bottom: 20px;
left: 20px;
right: 20px;
color: white;

  }
.cta{
padding: 120px var(--padding-inline-section) 80px;
background-color: #183b54;

}

  .cta-section-div{
flex-direction: column;
gap: 30px;
  }
.cta-heading{
color: white;

}
  .cta-section-div  p{
    color: white;
    margin: 10px 0;
    
    }
.footer{
padding-block: 80px ;
background-color: #ebf2fa;

}


    .link-coloumn{
flex-direction: column;
align-items: flex-start;
gap: 20px;

    }
    .footer-div{
align-items: flex-start;
justify-content: space-between;


    }
.subfooter{

  background-color: #b9cde4;
  padding: var(--padding-inline-section);
  height: 90px;
}
.subfooter-div{

  justify-content: center;
  gap: 50px;
}